@model FreelanceHub.Models.Vacancy

@{
    ViewData["Title"] = "Create Vacancy";
}

<h1>Create New Vacancy</h1>

<div>
    <h2>Create New Vacancy</h2>
    <partial name="_CreateVacancyForm" />
</div>
